<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!--          -->
  <!-- NRG mods -->
  <!--          -->
  <joint name="ee-temoto" type="fixed" >
    <origin xyz="0.22 0.0 0.0" rpy="-1.571 0 0"/>   <!-- place temoto_end_effector within the 2-finger gripper -->
    <parent link="ee_link" />  <!-- end-effector link for UR5 -->
    <child link="temoto_end_effector" />
  </joint>
  <link name="temoto_end_effector" /> 

</robot>
