<?xml version="1.0"?>
<launch>
  
  <!-- start Gazebo -->
  <include file="$(find ur_gazebo)/launch/temoto_ur5.launch" />

  <!-- start MoveIt! -->
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch" >
    <arg name="sim" default="true"/>
  </include>

  <!-- start RViz -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch" >
    <arg name="config" default="true"/>
  </include>

  <!-- start OSVR plugin in RViz and control it with the gain button -->
  <node name="griffin_powermate" pkg="griffin_powermate" type="griffin_powermate" output="screen" />
  <node name="griffin_vr_zoomer" pkg="griffin_vr_zoomer" type="griffin_vr_zoomer" output="screen">
    <param name="griffin_topic" value="events"/>
    <param name="griffin_ns" value="/griffin_powermate"/>
    <param name="rviz_ns" value="/"/>
  </node>

  <!-- OSVR server -->
  <node name="osvr_server" pkg="rviz_plugin_osvr" type="start_osvr_server.sh" />

</launch>